
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1643553517154-24eb7fd86437?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2luZW1hfHx8fHx8MTY3NzEzNzI3Mw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1580);">
  <div class="container text-center">
    <h1>Save any kind of movies</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "New list", new_list_path, {class: 'btn btn-flat'} %>
  </div>
</div>

<div class="container my-3">
  <div class="row">
    <% @lists.each do |list| %>
    <% url = list.photo.key ?
      cl_image_path(list.photo.key, height: 300, crop: :fill) :
      "https://source.unsplash.com/random/?#{list.name}"
    %>
        <div class="col-4">
          <div id="<%= dom_id list %>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url%>)">
              <%= link_to list.name, list_path(list) %>
          </div>
        </div>
      <% end %>
  </div>
</div>
